<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlun.erp.core.mapper.ProductCategoryMapper" >
  <resultMap id="DtoResultMap" type="com.kunlun.erp.core.dto.product.ProductCategoryDto" >
    <result column="category_code" property="category_code" jdbcType="VARCHAR" />
    <result column="category_name" property="category_name" jdbcType="VARCHAR" />
    <result column="category_state" property="category_state" jdbcType="INTEGER" />
    <result column="creator_name" property="creator_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Dto_Column_List" >
    category_code, category_name, category_state,creator_name
  </sql>
  <select id="selectDtoList"  resultMap="DtoResultMap">
    select  <include refid="Dto_Column_List" />
    from product_category where 1=1
    <if test="category_name != null and category_name!=''">
      and category_name = #{category_name}
    </if>
    <if test="category_state != null">
      and category_state = #{category_state}
    </if>
    <if test="uid != null">
      and creator_id = #{uid}
    </if>
    order by id desc
  </select>


  <resultMap id="BaseResultMap" type="com.kunlun.erp.core.entity.ProductCategory" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="category_code" property="category_code" jdbcType="VARCHAR" />
    <result column="category_name" property="category_name" jdbcType="VARCHAR" />
    <result column="category_name_defined" property="category_name_defined" jdbcType="VARCHAR" />
    <result column="category_state" property="category_state" jdbcType="INTEGER" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creator_id" jdbcType="INTEGER" />
    <result column="creator_name" property="creator_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, category_code, category_name, category_name_defined, category_state, create_time, 
    update_time, creator_id, creator_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from product_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByCategoryCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from product_category
    where category_code = #{category_code,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from product_category
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByCategoryCode" parameterType="java.lang.String" >
    delete from product_category
    where category_code = #{category_code,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.kunlun.erp.core.entity.ProductCategory" useGeneratedKeys="true" keyProperty="id">
    insert into product_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="category_code != null" >
        category_code,
      </if>
      <if test="category_name != null" >
        category_name,
      </if>
      <if test="category_name_defined != null" >
        category_name_defined,
      </if>
      <if test="category_state != null" >
        category_state,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="creator_id != null" >
        creator_id,
      </if>
      <if test="creator_name != null" >
        creator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="category_code != null" >
        #{category_code,jdbcType=VARCHAR},
      </if>
      <if test="category_name != null" >
        #{category_name,jdbcType=VARCHAR},
      </if>
      <if test="category_name_defined != null" >
        #{category_name_defined,jdbcType=VARCHAR},
      </if>
      <if test="category_state != null" >
        #{category_state,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        #{creator_id,jdbcType=INTEGER},
      </if>
      <if test="creator_name != null" >
        #{creator_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunlun.erp.core.entity.ProductCategory" >
    update product_category
    <set >
      <if test="category_code != null" >
        category_code = #{category_code,jdbcType=VARCHAR},
      </if>
      <if test="category_name != null" >
        category_name = #{category_name,jdbcType=VARCHAR},
      </if>
      <if test="category_name_defined != null" >
        category_name_defined = #{category_name_defined,jdbcType=VARCHAR},
      </if>
      <if test="category_state != null" >
        category_state = #{category_state,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        creator_id = #{creator_id,jdbcType=INTEGER},
      </if>
      <if test="creator_name != null" >
        creator_name = #{creator_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>