<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlun.erp.core.mapper.RouteGuidesMapper" >
  <resultMap id="DtoResultMap" type="com.kunlun.erp.core.dto.routeHall.RouteGuidesDto" >
    <result column="guide_code" property="guide_code" jdbcType="VARCHAR" />
    <result column="company_code" property="company_code" jdbcType="VARCHAR" />
    <result column="company_name" property="company_name" jdbcType="VARCHAR" />
    <result column="person_code" property="person_code" jdbcType="VARCHAR" />
    <result column="person_name" property="person_name" jdbcType="VARCHAR" />
    <result column="person_mobile" property="person_mobile" jdbcType="VARCHAR" />
    <result column="client_count" property="client_count" jdbcType="INTEGER" />
    <result column="start_date" property="start_date" jdbcType="DATE" />
    <result column="end_date" property="end_date" jdbcType="DATE" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="fee_daily" property="fee_daily" jdbcType="DECIMAL" />
    <result column="fee_total" property="fee_total" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectDtoByGroupCode" parameterType="java.lang.String" resultMap="DtoResultMap">
    select r.guide_code, r.company_code, get_company_name(r.company_code) as company_name, r.person_code,p.person_name as person_name, p.person_mobile as person_mobile,r.client_count, r.start_date,
    r.end_date, r.days, r.currency, r.fee_daily, r.fee_total, r.remarks from route_guides r left join person_info p on p.person_code = r.person_code
    where r.group_code = #{group_code} order by r.id asc
  </select>



  <resultMap id="BaseResultMap" type="com.kunlun.erp.core.entity.RouteGuides" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="guide_code" property="guide_code" jdbcType="VARCHAR" />
    <result column="group_code" property="group_code" jdbcType="VARCHAR" />
    <result column="company_code" property="company_code" jdbcType="VARCHAR" />
    <result column="person_code" property="person_code" jdbcType="VARCHAR" />
    <result column="client_count" property="client_count" jdbcType="INTEGER" />
    <result column="start_date" property="start_date" jdbcType="DATE" />
    <result column="end_date" property="end_date" jdbcType="DATE" />
    <result column="days" property="days" jdbcType="INTEGER" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="fee_daily" property="fee_daily" jdbcType="DECIMAL" />
    <result column="fee_total" property="fee_total" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_times" property="create_times" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creator_id" jdbcType="INTEGER" />
    <result column="creator_name" property="creator_name" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, guide_code, group_code, company_code, person_code, client_count, start_date, 
    end_date, days, currency, fee_daily, fee_total, remarks, create_times, update_time, 
    creator_id, creator_name
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from route_guides
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByGuideCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from route_guides
    where guide_code = #{guide_code}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from route_guides
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByGroupCode" parameterType="java.lang.String" >
    delete from route_guides
    where group_code = #{group_code}
  </delete>

  <delete id="deleteByGroupCodeList" parameterType="java.lang.String" >
    delete from route_guides
    where group_code in
    <foreach collection="group_code_list" item="code" index="index" open="(" separator="," close=")">
      #{code}
    </foreach>
  </delete>


  <delete id="deleteByGroupCodeAndGuideCode" >
    delete from route_guides
    where group_code = #{group_code} and guide_code not in
    <foreach collection="guides_codes" item="code" index="index" open="(" separator="," close=")">
      #{code}
    </foreach>
  </delete>

  <delete id="deleteByCompanyCode" parameterType="java.lang.String" >
    delete from route_guides
    where company_code = #{company_code}
  </delete>

  <insert id="insertSelective" parameterType="com.kunlun.erp.core.entity.RouteGuides" useGeneratedKeys="true" keyProperty="id">
    insert into route_guides
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="guide_code != null" >
        guide_code,
      </if>
      <if test="group_code != null" >
        group_code,
      </if>
      <if test="company_code != null" >
        company_code,
      </if>
      <if test="person_code != null" >
        person_code,
      </if>
      <if test="client_count != null" >
        client_count,
      </if>
      <if test="start_date != null" >
        start_date,
      </if>
      <if test="end_date != null" >
        end_date,
      </if>
      <if test="days != null" >
        days,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="fee_daily != null" >
        fee_daily,
      </if>
      <if test="fee_total != null" >
        fee_total,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="create_times != null" >
        create_times,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="creator_id != null" >
        creator_id,
      </if>
      <if test="creator_name != null" >
        creator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="guide_code != null" >
        #{guide_code,jdbcType=VARCHAR},
      </if>
      <if test="group_code != null" >
        #{group_code,jdbcType=VARCHAR},
      </if>
      <if test="company_code != null" >
        #{company_code,jdbcType=VARCHAR},
      </if>
      <if test="person_code != null" >
        #{person_code,jdbcType=VARCHAR},
      </if>
      <if test="client_count != null" >
        #{client_count,jdbcType=INTEGER},
      </if>
      <if test="start_date != null" >
        #{start_date,jdbcType=DATE},
      </if>
      <if test="end_date != null" >
        #{end_date,jdbcType=DATE},
      </if>
      <if test="days != null" >
        #{days,jdbcType=INTEGER},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="fee_daily != null" >
        #{fee_daily,jdbcType=DECIMAL},
      </if>
      <if test="fee_total != null" >
        #{fee_total,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="create_times != null" >
        #{create_times,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        #{creator_id,jdbcType=INTEGER},
      </if>
      <if test="creator_name != null" >
        #{creator_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunlun.erp.core.entity.RouteGuides" >
    update route_guides
    <set >
      <if test="guide_code != null" >
        guide_code = #{guide_code,jdbcType=VARCHAR},
      </if>
      <if test="group_code != null" >
        group_code = #{group_code,jdbcType=VARCHAR},
      </if>
      <if test="company_code != null" >
        company_code = #{company_code,jdbcType=VARCHAR},
      </if>
      <if test="person_code != null" >
        person_code = #{person_code,jdbcType=VARCHAR},
      </if>
      <if test="client_count != null" >
        client_count = #{client_count,jdbcType=INTEGER},
      </if>
      <if test="start_date != null" >
        start_date = #{start_date,jdbcType=DATE},
      </if>
      <if test="end_date != null" >
        end_date = #{end_date,jdbcType=DATE},
      </if>
      <if test="days != null" >
        days = #{days,jdbcType=INTEGER},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="fee_daily != null" >
        fee_daily = #{fee_daily,jdbcType=DECIMAL},
      </if>
      <if test="fee_total != null" >
        fee_total = #{fee_total,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="create_times != null" >
        create_times = #{create_times,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        creator_id = #{creator_id,jdbcType=INTEGER},
      </if>
      <if test="creator_name != null" >
        creator_name = #{creator_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>