<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlun.erp.core.mapper.RouteInfoMapper" >
  <resultMap id="BaseResultMap" type="com.kunlun.erp.core.entity.RouteInfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="product_code" property="product_code" jdbcType="VARCHAR" />
    <result column="route_code" property="route_code" jdbcType="VARCHAR" />
    <result column="internal_code" property="internal_code" jdbcType="VARCHAR" />
    <result column="is_shopping" property="is_shopping" jdbcType="INTEGER" />
    <result column="owner_expense" property="owner_expense" jdbcType="INTEGER" />
    <result column="room_type" property="room_type" jdbcType="VARCHAR" />
    <result column="insurance_type" property="insurance_type" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creator_id" jdbcType="INTEGER" />
    <result column="creator_name" property="creator_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, product_code, route_code, internal_code, is_shopping, owner_expense, room_type, 
    insurance_type, create_time, update_time, creator_id, creator_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from route_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByProductCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from route_info
    where product_code = #{product_code,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from route_info
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByProductCode" parameterType="java.lang.String" >
    delete from route_info
    where product_code = #{product_code,jdbcType=VARCHAR}
  </delete>

  <insert id="insertSelective" parameterType="com.kunlun.erp.core.entity.RouteInfo" useGeneratedKeys="true" keyProperty="id">
    insert into route_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="product_code != null" >
        product_code,
      </if>
      <if test="route_code != null" >
        route_code,
      </if>
      <if test="internal_code != null" >
        internal_code,
      </if>
      <if test="is_shopping != null" >
        is_shopping,
      </if>
      <if test="owner_expense != null" >
        owner_expense,
      </if>
      <if test="room_type != null" >
        room_type,
      </if>
      <if test="insurance_type != null" >
        insurance_type,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="creator_id != null" >
        creator_id,
      </if>
      <if test="creator_name != null" >
        creator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="product_code != null" >
        #{product_code,jdbcType=VARCHAR},
      </if>
      <if test="route_code != null" >
        #{route_code,jdbcType=VARCHAR},
      </if>
      <if test="internal_code != null" >
        #{internal_code,jdbcType=VARCHAR},
      </if>
      <if test="is_shopping != null" >
        #{is_shopping,jdbcType=INTEGER},
      </if>
      <if test="owner_expense != null" >
        #{owner_expense,jdbcType=INTEGER},
      </if>
      <if test="room_type != null" >
        #{room_type,jdbcType=INTEGER},
      </if>
      <if test="insurance_type != null" >
        #{insurance_type,jdbcType=INTEGER},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        #{creator_id,jdbcType=INTEGER},
      </if>
      <if test="creator_name != null" >
        #{creator_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunlun.erp.core.entity.RouteInfo" >
    update route_info
    <set >
      <if test="product_code != null" >
        product_code = #{product_code,jdbcType=VARCHAR},
      </if>
      <if test="route_code != null" >
        route_code = #{route_code,jdbcType=VARCHAR},
      </if>
      <if test="internal_code != null" >
        internal_code = #{internal_code,jdbcType=VARCHAR},
      </if>
      <if test="is_shopping != null" >
        is_shopping = #{is_shopping,jdbcType=INTEGER},
      </if>
      <if test="owner_expense != null" >
        owner_expense = #{owner_expense,jdbcType=INTEGER},
      </if>
      <if test="room_type != null" >
        room_type = #{room_type,jdbcType=VARCHAR},
      </if>
      <if test="insurance_type != null" >
        insurance_type = #{insurance_type,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        creator_id = #{creator_id,jdbcType=INTEGER},
      </if>
      <if test="creator_name != null" >
        creator_name = #{creator_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

</mapper>