<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kunlun.erp.core.mapper.RouteMotorcadeMapper" >

  <resultMap id="DtoResultMap" type="com.kunlun.erp.core.dto.routeHall.RouteMotorcadeDto" >
    <result column="motorcade_code" property="motorcade_code" jdbcType="VARCHAR" />
    <result column="company_code" property="company_code" jdbcType="VARCHAR" />
    <result column="company_name" property="company_name" jdbcType="VARCHAR" />
    <result column="person_code" property="person_code" jdbcType="VARCHAR" />
    <result column="person_name" property="person_name" jdbcType="VARCHAR" />
    <result column="person_mobile" property="person_mobile" jdbcType="VARCHAR" />
    <result column="start_date" property="start_date" jdbcType="DATE" />
    <result column="end_date" property="end_date" jdbcType="DATE" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="car_count" property="car_count" jdbcType="INTEGER" />
    <result column="fee_total" property="fee_total" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selectDtoByGroupCode" parameterType="java.lang.String" resultMap="DtoResultMap">
    select r.motorcade_code, r.company_code, get_company_name(r.company_code) as company_name, r.person_code,p.person_name as person_name, p.person_mobile as person_mobile,r.start_date, r.end_date,
    r.currency, r.fee, r.car_count,r.fee_total, r.remarks from route_motorcade r left join person_info p on p.person_code = r.person_code
    where r.group_code = #{group_code} order by r.id asc
  </select>

  <resultMap id="BaseResultMap" type="com.kunlun.erp.core.entity.RouteMotorcade" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="motorcade_code" property="motorcade_code" jdbcType="VARCHAR" />
    <result column="group_code" property="group_code" jdbcType="VARCHAR" />
    <result column="company_code" property="company_code" jdbcType="VARCHAR" />
    <result column="person_code" property="person_code" jdbcType="VARCHAR" />
    <result column="start_date" property="start_date" jdbcType="DATE" />
    <result column="end_date" property="end_date" jdbcType="DATE" />
    <result column="currency" property="currency" jdbcType="VARCHAR" />
    <result column="fee" property="fee" jdbcType="DECIMAL" />
    <result column="car_count" property="car_count" jdbcType="INTEGER" />
    <result column="fee_total" property="fee_total" jdbcType="DECIMAL" />
    <result column="remarks" property="remarks" jdbcType="VARCHAR" />
    <result column="create_time" property="create_time" jdbcType="TIMESTAMP" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="creator_id" property="creator_id" jdbcType="INTEGER" />
    <result column="creator_name" property="creator_name" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, motorcade_code, group_code, company_code, person_code, start_date, end_date,
    currency, fee, car_count, fee_total, remarks, create_time, update_time, creator_id, 
    creator_name
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from route_motorcade
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByMotorcadeCode" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from route_motorcade
    where motorcade_code = #{motorcade_code}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from route_motorcade
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <delete id="deleteByGroupCode" parameterType="java.lang.String" >
    delete from route_motorcade
    where group_code = #{group_code}
  </delete>

  <delete id="deleteByGroupCodeList" parameterType="java.lang.String" >
    delete from route_motorcade
    where group_code in
    <foreach collection="group_code_list" item="code" index="index" open="(" separator="," close=")">
      #{code}
    </foreach>
  </delete>

  <delete id="deleteByCompanyCode" parameterType="java.lang.String" >
    delete from route_motorcade
    where company_code = #{company_code}
  </delete>

  <delete id="deleteByGroupCodeAndMotorcadeCode" >
    delete from route_motorcade
    where group_code = #{group_code} and motorcade_code not in
    <foreach collection="motorcade_codes" item="code" index="index" open="(" separator="," close=")">
      #{code}
    </foreach>
  </delete>

  <insert id="insertSelective" parameterType="com.kunlun.erp.core.entity.RouteMotorcade" useGeneratedKeys="true" keyProperty="id" >
    insert into route_motorcade
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="motorcade_code != null" >
        motorcade_code,
      </if>
      <if test="group_code != null" >
        group_code,
      </if>
      <if test="company_code != null" >
        company_code,
      </if>
      <if test="person_code != null" >
        person_code,
      </if>
      <if test="start_date != null" >
        start_date,
      </if>
      <if test="end_date != null" >
        end_date,
      </if>
      <if test="currency != null" >
        currency,
      </if>
      <if test="fee != null" >
        fee,
      </if>
      <if test="car_count != null" >
        car_count,
      </if>
      <if test="fee_total != null" >
        fee_total,
      </if>
      <if test="remarks != null" >
        remarks,
      </if>
      <if test="create_time != null" >
        create_time,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="creator_id != null" >
        creator_id,
      </if>
      <if test="creator_name != null" >
        creator_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="motorcade_code != null" >
        #{motorcade_code,jdbcType=VARCHAR},
      </if>
      <if test="group_code != null" >
        #{group_code,jdbcType=VARCHAR},
      </if>
      <if test="company_code != null" >
        #{company_code,jdbcType=VARCHAR},
      </if>
      <if test="person_code != null" >
        #{person_code,jdbcType=VARCHAR},
      </if>
      <if test="start_date != null" >
        #{start_date,jdbcType=DATE},
      </if>
      <if test="end_date != null" >
        #{end_date,jdbcType=DATE},
      </if>
      <if test="currency != null" >
        #{currency,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        #{fee,jdbcType=DECIMAL},
      </if>
      <if test="car_count != null" >
        #{car_count,jdbcType=INTEGER},
      </if>
      <if test="fee_total != null" >
        #{fee_total,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        #{creator_id,jdbcType=INTEGER},
      </if>
      <if test="creator_name != null" >
        #{creator_name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kunlun.erp.core.entity.RouteMotorcade" >
    update route_motorcade
    <set >
      <if test="motorcade_code != null" >
        motorcade_code = #{motorcade_code,jdbcType=VARCHAR},
      </if>
      <if test="group_code != null" >
        group_code = #{group_code,jdbcType=VARCHAR},
      </if>
      <if test="company_code != null" >
        company_code = #{company_code,jdbcType=VARCHAR},
      </if>
      <if test="person_code != null" >
        person_code = #{person_code,jdbcType=VARCHAR},
      </if>
      <if test="start_date != null" >
        start_date = #{start_date,jdbcType=DATE},
      </if>
      <if test="end_date != null" >
        end_date = #{end_date,jdbcType=DATE},
      </if>
      <if test="currency != null" >
        currency = #{currency,jdbcType=VARCHAR},
      </if>
      <if test="fee != null" >
        fee = #{fee,jdbcType=DECIMAL},
      </if>
      <if test="car_count != null" >
        car_count = #{car_count,jdbcType=INTEGER},
      </if>
      <if test="fee_total != null" >
        fee_total = #{fee_total,jdbcType=DECIMAL},
      </if>
      <if test="remarks != null" >
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="create_time != null" >
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="creator_id != null" >
        creator_id = #{creator_id,jdbcType=INTEGER},
      </if>
      <if test="creator_name != null" >
        creator_name = #{creator_name,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>